
/*------ ----header style -------*/
body{
    margin: 0;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: center; 
}

.container{
    display: grid;
    grid-template-columns: 531px 581px;
    grid-gap: 24px;
    justify-content: center;
    align-items: center;  
    background-color: #161616;
    width: 1321px;
    height: 646px;
    border-radius: 20px;
    margin-top: 64px;
    margin-bottom: 116px;
}
.banner-info{
    height: 424px;
    
}
.banner-info h1{
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}
.banner-info p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.link-button{
    color: white;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.5s;
    opacity: 0.8s;
}
.link-button:hover{
    background-color: white;
    color: red;
}
.icon{
    padding-left: 10px;
}
.banner-image img{
     height: 613px;
}

/*---------- mainpart style ----- */
main{
    justify-content: center;
}

.mainpart{
    display: grid;
    grid-template-columns: 312px auto;
    justify-content: center;
    grid-gap: 24px;
}
.blog-info{
   background-color:#161616 ;
  height: 312px;
  width: 312px;
  align-items: center;
   display: flex;
   flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.blog-info div{
    margin-top: 20px;
}
.blog-info div a{
     background-color: rgb(255, 255, 255);
    color: black;
    border: none;
     padding: 10px 25px;
     /* margin-bottom: 20px;  */
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}
.blog-info a{
    /* margin-bottom: 20px; */
}
.blog-info div .button-group{
    padding-right: 57px;
    padding-left: 57px;
}
.blog-info div .button-blog{
    background-color: #DD0000;
    padding-right: 80px;
    padding-left: 80px;
    color: white;
}

.live-game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
} 
.live-game div{
    width: 312px;
    
}
.blog{
    border: 1px solid rgb(236, 229, 229);
    border-radius: 15px;
}
.live-game h3{
    border: 1px solid black;
    width: 100px;
    font-weight: 500;
   font-size: 16px;
    padding-left: 24px;
}   
.live-game h2{
    font-weight: 600;
font-size: 18px;
}
.live-game p{
    font-weight: 400;
}
.details{
    padding: 24px;
    font-weight: 600;
    font-size: 18px;
}
.fa-solid{
    padding-right: 10px;
}
.icon{
    padding-right: 30px;
}

/*------- footer style----------- */
footer{
    padding-top: 100px;
}
.footer{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 100px;
    height: 244px;
}
.footer h1{
    color: white;
}
.nav{
    text-align: center;
}
.nav ul, .social-icon ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    padding-right: 30px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}
.social-icon ul li{
     padding-right: 25px;
     color: white;
}

/*----------------- website2 style------------ */

.flag{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 53px;
}

.live-game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* -------------------Responsive----------- */
/* -------------------Tablet devices------- */
/* --------header------- */
@media only screen and (min-width:480px) and (max-width:992px) {
    body{
        margin: 0;
        font-family: 'Lobster', cursive;
        font-family: 'Poppins', sans-serif;
    }
  
        header{
            display: flex;
            justify-content: center; 
        }
        
    
    .container{
        display: grid;
        grid-template-columns: 316px 276px;
        grid-gap: 2px;
        justify-content: center;
        align-items: center; 
        width: 734px;
        height: 398px;
        padding-top: 50px;
    }
    .banner-info{
        width: 316px;
        height: 276px;
    }
    .banner-info h1{
        font-size: 40px;
        line-height: 50px;
        margin-top: -40px;
        font-weight: 700;
    }
    .banner-info p{
        font-size: 14px;
        line-height: 24px;
        margin-top: -20px;
    }
    .link-button{
        color: white;
    background-color: #DD0000;
    padding: 12px;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.5s;
    opacity: 0.8s;
    }
    .banner-image img{
        width: 323px;
        height: 340px;
    }
    

/*  ----------mainpart------ */
main{
    justify-content: center;
    
}
.mainpart{
 
    width: 100%;
    justify-content: center;
    grid-gap: 24px;
}
.live-game{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}
.blog-info{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start:span 2;
    
} 
.blog-info button{
    border: 1px solid black;
}

}

@media only screen and ( max-width:688px){
    
    body{
        margin: 0;
        font-family: 'Lobster', cursive;
        font-family: 'Poppins', sans-serif;
    }
  
        .container{
            width: 100%;
            height: 472px;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            
            
        }
   
    

        .banner-info{
            width: 258px;
            height: 178px;
            text-align: center;
            
        }
        .banner-info h1{
            width: 228px;
            
            font-weight: 700;
            font-size: 22px;
            line-height: 33px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }
        .banner-info p{
            font-weight: 400;
            font-size: 10px;
            line-height: normal;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 250px;
            
        }
        .mobile-elipsis{
            display: none;
        }
            .link-button{
                color: white;
                background-color: #DD0000;
                margin-top: 20px;
                border-radius: 5px;
                font-size: 20px;
                transition: 0.5s;
                opacity: 0.8s;
            }
            .icon{
                padding-left: 0;
            }
                .banner-image img{
            width: 223px;
            height: 245px;
        }

        /*------------ mainpart ---------*/


.mainpart{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.live-game{
    display: grid;
    grid-template-columns: 1fr;
}
.blog-info{
    background-color: white;
}
.blog-info div button{
    border: 1px solid rgb(227, 224, 224);
}

/*--------- footer--------- */

.footer{
    padding-top: 200px;
    padding-bottom: 100px;
}
.footer h1{
    padding-bottom: 0;
}
.nav ul, .social-icon ul{
    display: inline;
}
.nav ul li{
padding-bottom: 30PX;
}
}